/* .container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
    }

    .box1{
      animation-name: box;
      animation-duration: 5s;
      animation-iteration-count: infinite;
     height: 30px;
     width: 30px;

    color: ;
    } */
